$white: #FFFFFF;

$blue-50: #E3F2FD;
$blue-100: #BBDEFB;
$blue-200: #90CAF9;
$blue-300: #64B5F6;
$blue-400: #42A5F5;
$blue-500: #2196F3;
$blue-600: #1E88E5;
$blue-700: #1976D2;
$blue-800: #1565C0;
$blue-900: #0D47A1;
$blue-A100: #82B1FF;
$blue-A200: #448AFF;
$blue-A400: #2979FF;
$blue-A700: #2962FF;

$grey-50: #FAFAFA;
$grey-100: #F5F5F5;
$grey-200: #EEEEEE;
$grey-300: #E0E0E0;
$grey-400: #BDBDBD;
$grey-500: #9E9E9E;
$grey-600: #757575;
$grey-700: #616161;
$grey-800: #424242;
$grey-900: #212121;

$orange-50: #FFF3E0;
$orange-100: #FFE0B2;
$orange-200: #FFCC80;
$orange-300: #FFB74D;
$orange-400: #FFA726;
$orange-500: #FF9800;
$orange-600: #FB8C00;
$orange-700: #F57C00;
$orange-800: #EF6C00;
$orange-900: #E65100;
$orange-A100: #FFD180;
$orange-A200: #FFAB40;
$orange-A400: #FF9100;
$orange-A700: #FF6D00;