.footer {
  font-size: 0.8rem;
  border-top: 1px solid var(--bs-gray-200);
  margin-top: $gutter-width;
  padding: $gutter-width;

  &-description {
    margin-top: calc($gutter-width / 2);
    color: var(--bs-gray-600);
  }
}