.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  padding-left: 0;
  margin: 0;

  box-shadow: 0px 0px 4px 0px;
  border-bottom: 1px;

  &-item {

    a {
      display: block;
      text-decoration: none;
      padding: 12px;
      color: $orange-900;
    }

    &:hover a,
    &.active:hover a {
      background-color: $orange-800;
      color: #FFF;
    }

    &.active a {
      color: #FFF;
      background-color: $orange-700;
    }
  }
}