.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  padding-left: 0;
  margin: 0;
  position: relative;

  box-shadow: 0px 0px 4px 0px;
  border-bottom: 1px;

  &-icon {
    padding-left: 16px;
    padding-right: 16px;
    margin-right: auto;
  }

  &-item {

    a {
      display: block;
      padding: 16px;
      color: $orange-900;
    }

    // active nav, not hovered
    &.active a {
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    }

    // active and hovered
    &.active a,
    &.active:hover a {
      color: #FFF;
      background-color: $orange-700;
      border-bottom: solid 4px $orange-700;
    }

    // reduce padding on active and hovered nav to account for 4px border
    &:hover a,
    &.active a,
    &.active:hover a {
      padding-bottom: 12px;
    }

    // not active, hovered
    &:hover a {
      border-bottom: solid 4px $orange-900;
    }
  }
}