---
title: European Ordination Programme
layout: base
---
<div id="index-header"></div>
<h1 class="text-center">European Ordination Programme</h1>
<img class="img-fluid w-100" src="assets/images/index-banner.png"/>
<div class="container">
  <p class="lead">
    While many are searching for peace outside, we believe that world peace MUST begin from each and everyone of us.
    That is why we promote the use of meditation in order to help individuals cultivate peace from within.
  </p>
  <p>
    Open to people of all ethnicities and backgrounds, the European Ordination Programme provides the opportunity to
    learn about Buddhism and a monk's way of life. Taking part in the experience will aid in the cultivation of one's
    inner peace.
  </p>
  <p>
    The Dhammakaya Foundation is a non-profit organisation, based on personal development, aiming to promote activities
    for the restoration of morality in individuals, families, societies, and the world.
  </p>
  <h1 class="text-center">European Ordination Programme 2019</h1>
</div>
<img class="img-fluid w-100 d-none d-block-sm" src="assets/images/2019/brochure-en.jpg"/>
<img class="img-fluid w-100 d-none-sm" src="assets/images/2019/poster-en.jpg"/>
<div class="container">
  <div class="text-center">
    <p><a href="assets/images/2019/original/brochure-en.JPG">Download brochure (en)</a></p>
    <p><a href="assets/images/2019/original/brochure-th.JPG">Download brochure (th)</a></p>
    <p><a href="assets/images/2019/original/poster-en.JPG">Download poster (en)</a></p>
    <p><a href="assets/images/2019/original/poster-th.JPG">Download poster (th)</a></p>
    <p><a class="btn btn-main" href="{{ "/about/" | relative_url }}">More about the programme</a></p>
  </div>
  <h1 class="text-center">Temples in Europe</h1>
  <div class="row">

    <div class="col-12 px"><h2>🇦🇹 Austria</h2></div>
    {% for temple in site.data.temples.austria %}
    <div class="col-6 col-md-6 px">
      {% include card.html title=temple.title content=temple.content %}
    </div>
    {% endfor %}

    <div class="col-12 px"><h2>🇧🇪 Belgium</h2></div>
    {% for temple in site.data.temples.belgium %}
    <div class="col-6 col-md-6 px">
      {% include card.html title=temple.title content=temple.content %}
    </div>
    {% endfor %}

    <div class="col-12 px"><h2>🇩🇰 Denmark</h2></div>
    {% for temple in site.data.temples.denmark %}
    <div class="col-6 col-md-6 px">
      {% include card.html title=temple.title content=temple.content %}
    </div>
    {% endfor %}

    <div class="col-12 px"><h2>🇫🇷 France</h2></div>
    {% for temple in site.data.temples.france %}
    <div class="col-6 col-md-6 px">
      {% include card.html title=temple.title content=temple.content %}
    </div>
    {% endfor %}

    <div class="col-12 px"><h2>🇩🇪 Germany</h2></div>
    {% for temple in site.data.temples.germany %}
    <div class="col-6 col-md-6 px">
      {% include card.html title=temple.title content=temple.content %}
    </div>
    {% endfor %}

    <div class="col-12 px"><h2>🇮🇸 Iceland</h2></div>
    {% for temple in site.data.temples.iceland %}
    <div class="col-6 col-md-6 px">
      {% include card.html title=temple.title content=temple.content %}
    </div>
    {% endfor %}

    <div class="col-12 px"><h2>🇮🇹 Italy</h2></div>
    {% for temple in site.data.temples.italy %}
    <div class="col-6 col-md-6 px">
      {% include card.html title=temple.title content=temple.content %}
    </div>
    {% endfor %}

    <div class="col-12 px"><h2>🇳🇱 Netherlands</h2></div>
    {% for temple in site.data.temples.netherlands %}
    <div class="col-6 col-md-6 px">
      {% include card.html title=temple.title content=temple.content %}
    </div>
    {% endfor %}

    <div class="col-12 px"><h2>🇳🇴 Norway</h2></div>
    {% for temple in site.data.temples.norway %}
    <div class="col-6 col-md-6 px">
      {% include card.html title=temple.title content=temple.content %}
    </div>
    {% endfor %}

    <div class="col-12 px"><h2>🇸🇪 Sweden</h2></div>
    {% for temple in site.data.temples.sweden %}
    <div class="col-6 col-md-6 px">
      {% include card.html title=temple.title content=temple.content %}
    </div>
    {% endfor %}

    <div class="col-12 px"><h2>🇨🇭 Switzerland</h2></div>
    {% for temple in site.data.temples.switzerland %}
    <div class="col-6 col-md-6 px">
      {% include card.html title=temple.title content=temple.content %}
    </div>
    {% endfor %}

    <div class="col-12 px"><h2>🇬🇧 United Kingdom</h2></div>
    {% for temple in site.data.temples.united_kingdom %}
    <div class="col-6 col-md-6 px">
      {% include card.html title=temple.title content=temple.content %}
    </div>
    {% endfor %}

  </div>
</div>