---
---
@import "reset";

@import "variables/colours";
@import "variables/layout";

html,
body {
  font-size: 14px;
  font-family: "Inter UI", system-ui, sans-serif;
  width: 100%;
  height: 100%;
}

@media (min-width: map-get($breakpoints, md)) {
  html, body { font-size: 16px }
}

@import "components/button";

@import "includes/footer";
@import "includes/nav";
@import "includes/portrait-card";

@import "pages/index";

@import "img";
@import "layout";
@import "typography";
@import "util";