<footer class="footer">
  <div class="container">
    <div class="row">
      <b>European Ordination Program</b>
    </div>
    <div class="row">
      <div class="col-12 col-sm-6 footer-description">
        Address of the training program<br>
        <address>
          Wat Phra Dhammakaya London<br>
          2 Brushfield Way<br>
          Knaphill<br>
          Woking GU21 2TG<br>
        </address>
          For further information:<br>
          <a href="tel:+447722145015">(+44) 07722145015</a><br>
          <a href="mailto:info@dhammakaya.nl">info@dhammakaya.nl</a><br>
      </div>
      <div class="col-12 col-sm-6 footer-description">
        World peace through inner peace. A non-profit organisation, whose purpose is to teach meditation for world
        peace.
      </div>
    </div>
  </div>
</footer>
