<footer class="footer">
  <div class="container">
    <div class="row">
      <b>European Ordination Programme</b>
    </div>
    <div class="row">
      <div class="col-12 col-sm-6 footer-description">
        <address>
          Wat Phra Dhammakaya Benelux<br>
          Ronkenburgstraat 25<br>
          9340, Lede, Belgium<br>
          <a href="tel:+32486362743">(+32) 486 36 27 43</a><br>
          <a href="mailto:info@dhammakayabenelux.org">info@dhammakayabenelux.org</a><br>
        </address>
      </div>
      <div class="col-12 col-sm-6 footer-description">
        World peace through inner peace. A non-profit organisation, whose purpose is to teach meditation for world
        peace.
      </div>
    </div>
  </div>
</footer>