#index-header {
  background-image: url("assets/images/logo-eop.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-top: 40px;
  height: 320px;
}