@mixin alert-style($background, $border, $color) {
  color: $color;
  border-color: $border;
  @include gradient-bg($background);
}

.alert {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.alert-info {
  @include alert-style($blue-100, $blue-200, $blue-900);
}