@mixin btn-style($bg-colour, $text-colour) {
  background-color: $bg-colour;
  color: $text-colour;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

  &:active {
    background-color: darken($bg-colour, 5%);
  }
}

.btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  font-size: 16px;
  border: none;
  transition: all 200ms ease-out;

  &:focus {
    outline: 0;
  }

  &:hover {
    box-shadow: 0 6px 5px -5px $grey-400;
    transform: translateY(-1px);
    cursor: pointer;
  }

  &:active {
    box-shadow: none;
  }
}

.btn-main {
  @include btn-style($orange-700, #FFF);
}