$table-border-width: 1px;
$table-border-color: $grey-300;
$table-cell-padding: .5rem;

table {
  width: 100%;
  margin-bottom: 1rem;

  th,
  td {
    padding: $table-cell-padding;
  }

  tr {
    border-top: $table-border-width solid $table-border-color;
  }

  tr:first-child {
    border-top: none;
  }

  thead th {
    border-bottom: (2 * $table-border-width) solid $table-border-color;
  }
}