---
title: Previous Programmes - European Ordination Programme
layout: base
---
<div class="container">
  <h1>2018</h1>
  <p>
    The programme took place over two weeks, starting on the 4th June, and ending on the 15th June. A total of 25
    people took part from 10 countries all over europe.
  </p>
  <div class="row">
    {% for person in site.data.programmes[2018] %}
      <div class="col-6 col-sm-4 col-md-3 col-lg-2 text-center">
        {% include portrait-card.html person=person %}
      </div>
    {% endfor %}
  </div>
</div>


