---
title: Previous Programs - European Ordination Program
layout: base
---
<div class="container">
  <h1 class="display-2 mt-5">2023</h1>
  <p>
    Between 8<sup>th</sup>-30<sup>th</sup> July 2023, the ninth batch of EOP was ordinated at Wat Phra Dhammakaya
    Benelux and trained by experienced teaching monks at Wat Dhammakaya Korsør Lystskov.
  </p>
  <div class="row">
    <img class="p-3 col-12 col-sm-6 img-fluid" src="{{ "assets/images/2023/1.jpg" | relative_url }}">
    <img class="p-3 col-12 col-sm-6 img-fluid" src="{{ "assets/images/2023/2.jpg" | relative_url }}">
    <img class="p-3 col-12 col-sm-6 img-fluid" src="{{ "assets/images/2023/3.jpg" | relative_url }}">
    <img class="p-3 col-12 col-sm-6 img-fluid" src="{{ "assets/images/2023/4.jpg" | relative_url }}">
    <img class="p-3 col-12 col-sm-6 img-fluid" src="{{ "assets/images/2023/5.jpg" | relative_url }}">
    <img class="p-3 col-12 col-sm-6 img-fluid" src="{{ "assets/images/2023/6.jpg" | relative_url }}">
    <img class="p-3 col-12 col-sm-6 img-fluid" src="{{ "assets/images/2023/7.jpg" | relative_url }}">
    <img class="p-3 col-12 col-sm-6 img-fluid" src="{{ "assets/images/2023/8.jpg" | relative_url }}">
    <img class="p-3 col-12 col-sm-6 img-fluid" src="{{ "assets/images/2023/9.jpg" | relative_url }}">
    <img class="p-3 col-12 col-sm-6 img-fluid" src="{{ "assets/images/2023/10.jpg" | relative_url }}">
    <img class="p-3 col-12 col-sm-6 img-fluid" src="{{ "assets/images/2023/11.jpg" | relative_url }}">
    <img class="p-3 col-12 col-sm-6 img-fluid" src="{{ "assets/images/2023/12.jpg" | relative_url }}">
    <img class="p-3 col-12 col-sm-6 img-fluid" src="{{ "assets/images/2023/13.jpg" | relative_url }}">
    <img class="p-3 col-12 col-sm-6 img-fluid" src="{{ "assets/images/2023/14.jpg" | relative_url }}">
    <img class="p-3 col-12 col-sm-6 img-fluid" src="{{ "assets/images/2023/15.jpg" | relative_url }}">
    <img class="p-3 col-12 col-sm-6 img-fluid" src="{{ "assets/images/2023/16.jpg" | relative_url }}">
    <img class="p-3 col-12 col-sm-6 img-fluid" src="{{ "assets/images/2023/17.jpg" | relative_url }}">
  </div>
  <h1 class="display-2 mt-5">2022</h1>
  <p>
    Between 3<sup>rd</sup>-19<sup>th</sup> June 2022, the eighth batch of EOP was trained under the guidance of several
    experienced teaching monks at the Dhammakaya Korsør Lystskov Thai temple. In total, ten participants joined to train
    themselves in the monastic discipline, sleeping in simple tents and practicing meditation intensively for a period
    of two weeks. The program was a great success this year, and many of the participants have indicated they would like
    the program to be held longer and would not want to miss it next year.
  </p>
  <div class="row">
    <img class="p-3 col-12 col-sm-6 img-fluid" src="{{ "assets/images/2022/1658050027481.jpg" | relative_url }}">
    <img class="p-3 col-12 col-sm-6 img-fluid" src="{{ "assets/images/2022/1658050028792.jpg" | relative_url }}">
    <img class="p-3 col-12 col-sm-6 img-fluid" src="{{ "assets/images/2022/1658050029183.jpg" | relative_url }}">
    <img class="p-3 col-12 col-sm-6 img-fluid" src="{{ "assets/images/2022/1658050029617.jpg" | relative_url }}">
    <img class="p-3 col-12 col-sm-6 img-fluid" src="{{ "assets/images/2022/1658050031862.jpg" | relative_url }}">
    <img class="p-3 col-12 col-sm-6 img-fluid" src="{{ "assets/images/2022/1658050032351.jpg" | relative_url }}">
    <img class="p-3 col-12 col-sm-6 img-fluid" src="{{ "assets/images/2022/1658050033218.jpg" | relative_url }}">
    <img class="p-3 col-12 col-sm-6 img-fluid" src="{{ "assets/images/2022/1658050033986.jpg" | relative_url }}">
    <img class="p-3 col-12 col-sm-6 img-fluid" src="{{ "assets/images/2022/1658050034811.jpg" | relative_url }}">
    <img class="p-3 col-12 col-sm-6 img-fluid" src="{{ "assets/images/2022/1658050035174.jpg" | relative_url }}">
    <img class="p-3 col-12 col-sm-6 img-fluid" src="{{ "assets/images/2022/1658050036446.jpg" | relative_url }}">
    <img class="p-3 col-12 col-sm-6 img-fluid" src="{{ "assets/images/2022/1658050036816.jpg" | relative_url }}">
    <img class="p-3 col-12 col-sm-6 img-fluid" src="{{ "assets/images/2022/1658050037198.jpg" | relative_url }}">
    <img class="p-3 col-12 col-sm-6 img-fluid" src="{{ "assets/images/2022/1658050037678.jpg" | relative_url }}">
    <img class="p-3 col-12 col-sm-6 img-fluid" src="{{ "assets/images/2022/1658050038089.jpg" | relative_url }}">
    <img class="p-3 col-12 col-sm-6 img-fluid" src="{{ "assets/images/2022/1658050038492.jpg" | relative_url }}">
    <img class="p-3 col-12 col-sm-6 img-fluid" src="{{ "assets/images/2022/1658050039004.jpg" | relative_url }}">
    <img class="p-3 col-12 col-sm-6 img-fluid" src="{{ "assets/images/2022/1658050039414.jpg" | relative_url }}">
    <img class="p-3 col-12 col-sm-6 img-fluid" src="{{ "assets/images/2022/1658050039816.jpg" | relative_url }}">
    <img class="p-3 col-12 col-sm-6 img-fluid" src="{{ "assets/images/2022/1658050040236.jpg" | relative_url }}">
    <img class="p-3 col-12 col-sm-6 img-fluid" src="{{ "assets/images/2022/1658050040693.jpg" | relative_url }}">
    <img class="p-3 col-12 col-sm-6 img-fluid" src="{{ "assets/images/2022/1658050041153.jpg" | relative_url }}">
    <img class="p-3 col-12 col-sm-6 img-fluid" src="{{ "assets/images/2022/1658050041560.jpg" | relative_url }}">
  </div>
  <h1 class="display-2 mt-5">2019</h1>
  <p>
    20 people took part in the program which took place over 4 weeks, between 17th June and 14th July 2019.
  </p>
  <div class="row">
    <img class="p-3 col-12 col-sm-6 img-fluid" src="{{ "assets/images/2019/misc/1.jpg" | relative_url }}">
    <img class="p-3 col-12 col-sm-6 img-fluid" src="{{ "assets/images/2019/misc/2.jpg" | relative_url }}">
    <img class="p-3 col-12 col-sm-6 img-fluid" src="{{ "assets/images/2019/misc/3.jpg" | relative_url }}">
    <img class="p-3 col-12 col-sm-6 img-fluid" src="{{ "assets/images/2019/misc/4.jpg" | relative_url }}">
    <img class="p-3 col-12 col-sm-6 img-fluid" src="{{ "assets/images/2019/misc/5.jpg" | relative_url }}">
    <img class="p-3 col-12 col-sm-6 img-fluid" src="{{ "assets/images/2019/misc/6.jpg" | relative_url }}">
    <img class="p-3 col-12 col-sm-6 img-fluid" src="{{ "assets/images/2019/misc/7.jpg" | relative_url }}">
    <img class="p-3 col-12 col-sm-6 img-fluid" src="{{ "assets/images/2019/misc/8.jpg" | relative_url }}">
    <img class="p-3 col-12 col-sm-6 img-fluid" src="{{ "assets/images/2019/misc/9.jpg" | relative_url }}">
    <img class="p-3 col-12 col-sm-6 img-fluid" src="{{ "assets/images/2019/misc/10.jpg" | relative_url }}">
  </div>
  <h1 class="display-2 mt-5">2018</h1>
  <p>
    The program took place over two weeks, starting on the 4th June, and ending on the 15th June 2018. A total of 25
    people took part from 10 countries all over europe.
  </p>
  <div class="row">
    {% for person in site.data.programs[2018] %}
      <div class="col-6 col-sm-4 col-md-3 col-lg-2 text-center">
        {% include portrait-card.html person=person %}
      </div>
    {% endfor %}
  </div>
</div>


