---
title: Previous Programmes - European Ordination Programme
layout: base
programmes:
  2018:
    -
      name: Sven-Olov Brobäck
      location: Sweden
      flag: 🇸🇪
      portraitURL: assets/images/2018/portraits/1.png
    -
      name: Martin Fedorski
      location: United Kingdom
      flag: 🇬🇧
      portraitURL: assets/images/2018/portraits/2.png
    -
      name: Michael Petersen
      dob: 24 February 1966
      location: Denmark
      flag: 🇩🇰
      portraitURL: assets/images/2018/portraits/3.png
    -
      name: David
      location:
      portraitURL: assets/images/2018/portraits/4.png
    -
      name: Kris Van Hauwermeiren
      location:
      portraitURL: assets/images/2018/portraits/5.png
    -
      name: Mark
      portraitURL: assets/images/2018/portraits/6.png
    -
      name: Gordon Craig
      dob: 15 August 1973
      location: United Kindgom
      flag: 🇬🇧
      portraitURL: assets/images/2018/portraits/7.png
    -
      name: Jimmy Ekman
      dob: 21 June 1976
      location: Sweden
      flag: 🇸🇪
      portraitURL: assets/images/2018/portraits/8.png
    -
      name: Komsan Audta
      dob: 27 February 1977
      location: France
      flag: 🇫🇷
      portraitURL: assets/images/2018/portraits/9.png
    -
      name: Phakhin Kosin
      location: Czech Republic
      flag: 🇨🇿
      portraitURL: assets/images/2018/portraits/10.png
    -
      name: Elvis Taylor
      dob: 31 January 1978
      location: United Kingdom
      flag: 🇬🇧
      portraitURL: assets/images/2018/portraits/11.png
    -
      name: Thomas Morris
      dob: 08 June 1984
      location: United Kingdom
      flag: 🇬🇧
      portraitURL: assets/images/2018/portraits/12.png
    -
      name: Thanatporn Samutkota
      dob: 8 August 1986
      location: Germany
      flag: 🇩🇪
      portraitURL: assets/images/2018/portraits/13.png
    -
      name: Kevin Schmid
      dob: 19 September 1989
      location: Germany
      flag: 🇩🇪
      portraitURL: assets/images/2018/portraits/14.png
    -
      name: Chatchai Noijaidee
      dob: 6 January 1990
      location: Sweden
      flag: 🇸🇪
      portraitURL: assets/images/2018/portraits/15.png
    -
      name: Anant Charoenpanit
      dob: 29 July 1992
      location: United Kingdom
      flag: 🇬🇧
      portraitURL: assets/images/2018/portraits/16.png
    -
      name: Ben Lertlumprasertkul
      dob: 12 September 1992
      location: United Kingdom
      flag: 🇬🇧
      portraitURL: assets/images/2018/portraits/17.png
    -
      name: Eric Irving
      dob: 16 September 1992
      location: France
      flag: 🇫🇷
      portraitURL: assets/images/2018/portraits/18.png
    -
      name: Ratchata Nararak
      dob: 26 February 1994
      location: Germany
      flag: 🇩🇪
      portraitURL: assets/images/2018/portraits/19.png
    -
      name: Pete Chitvicheankul
      dob: 4 April 1994
      location: United Kingdom
      flag: 🇬🇧
      portraitURL: assets/images/2018/portraits/20.png
    -
      name: Natthawut Thavornsalee
      location: Sweden
      flag: 🇸🇪
      portraitURL: assets/images/2018/portraits/21.png
    -
      name: Paworn Saen
      dob: 11 October 1995
      location: Germany
      flag: 🇩🇪
      portraitURL: assets/images/2018/portraits/22.png
    -
      name: Than Zaw Lin Hantheim
      dob: 03 April 1998
      location: Netherlands
      flag: 🇳🇱
      portraitURL: assets/images/2018/portraits/23.png
    -
      name: Tanagon Orlandin
      dob: 11 April 1998
      location: Switzerland
      flag: 🇨🇭
      portraitURL: assets/images/2018/portraits/24.png
    -
      name: Suphawin Satjeen
      dob: 7 May 1998
      location: Netherlands
      flag: 🇳🇱
      portraitURL: assets/images/2018/portraits/25.png
---
<div class="container">
  <h1>2018</h1>
  <p>
    The programme took place over two weeks, starting on the 4th June, and ending on the 15th June. A total of 25
    people took part from 9 countries all over europe.
  </p>
  <div class="row">
    {% for person in page.programmes[2018] %}
      <div class="col-6 col-sm-4 col-md-3 col-lg-2 text-center">
        {% include portrait-card.html person=person %}
      </div>
    {% endfor %}
  </div>
</div>


