---
title: Texts - European Ordination Programme
layout: base

table_one:
  headers: [Preceptor, Ordinand]
  rows:
    - [Patirupang, Ukasa sampathitchami]
    - [Opayikang, Sampathitchami]
    - [Pasathikena, Sampathetha sampathitchami]

table_two:
  headers: [Preceptor, Ordinand]
  rows:
    - [Ayante patto, Ama phante]
    - [Ayang sankhati, Ama phante]
    - [Ayang uttarasangkho, Ama phante]
    - [Ayang antaravasako, Ama phante]

---
<div class="container">
  <h1>Ordination Recitations</h1>
  <span class="h2">Ukasa tradition</span>
  <h1 id="ordination-chanting-en">English</h1>

  <h2>Paying Homage to the Ordination Ground and Chapel</h2>
  <p>
    Ukasa vanthami phante,<br>
    Sapphang aparathang khamatha me phante,<br>
    Maya katang punyang samina anumothitaphang,<br>
    Samina katang punyang maihang thatapphang,<br>
    Sathu sathu anumothami.
  </p>
  <p><i>----- kneel down -----</i></p>
  <p>
    Sapphang aparathang khamatha me phante
  </p>
  <p><i>----- bow three times -----</i></p>
  <p>
    Ukasa thavarattayena katang<br>
    Sapphang aparathang khamatha me phante
  </p>
  <p><i>----- bow once then stand -----</i></p>
  <p>
    Vanthami phante,<br>
    Sapphang aparathang khamatha me phante,<br>
    Maya katang punyang samina anumothitaphang,<br>
    Samina katang punyang maihang thatapphang,<br>
    Sathu sathu anumothami.
  </p>
  <p><i>----- kneel down and bow 3 times -----</i></p>

  <h2>Requesting the Going-Forth (paphacha)</h2>
  <p>
    Ukasa vanthami phante,<br>
    Sapphang aparathang khamatha me phante,<br>
    Maya katang punyang samina anumothitaphang,<br>
    Samina katang punyang maihang thatpphang,<br>
    Sathu sathu anumothami,<br>
    Ukasa ka-run-yang kattava,<br>
    Papphatchang thethame phante.
  </p>
  <p><i>----- kneel down -----</i></p>
  <p>
    Ahang phante, papphatchang yajami.<br>
    Thutiyampi ahang phante, papphatchang yajami.<br>
    Tatiyampi ahang phante, papphatchang yajami.
  </p>
  <p>
    Sapphathukkha nissarana,<br>
    Nipphana satchi-karanat-tha-yah,<br>
    <b>Imang</b> kasavang <b>khahettava</b>,<br>
    Pappha-chetha mang phante,<br>
    Anukampang upathaya.
  </p>
  <p><i>----- repeat this verse 3 times -----</i></p>
  <p>
    Sappatukkha nissaranah,<br>
    Nippana sacchi-karanat-tha-yah,<br>
    <b>Etang</b> kasavang <b>tattava</b>,<br>
    Pappha-chetha mang phante,<br>
    Anukampang upathaya.
  </p>
  <p><i>----- repeat this verse 3 times -----</i></p>

  <h2>Basic Objects of Meditation</h2>
  <p>
    Kesa loma nakha thanta tajo<br>
    Tajo thanta nakha loma kesa
  </p>
  <p><i>----- bow 3 times -----</i></p>

  <h2>Taking Refuge and Ten Precepts</h2>
  <p>
    Ukasa vanthami phante,<br>
    Sapphang aparathang khamatha me phante,<br>
    Maya katang punyang samina anumothitaphang,<br>
    Samina katang punyang maihang thatapphang,<br>
    Sathu sathu anumothami.<br>
    Ukasa ka-run-yang kattava,<br>
    Tisaranena saha silani thetha me phante.
  </p>
  <p><i>----- kneel down -----</i></p>
  <p>
    Ahang phante, sarana silang yajami.<br>
    Thutiyampi ahang phante, sarana silang yajami.<br>
    Tatiyampi ahang phante, sarana silang yajami.<br>
  </p>
  <div class="alert alert-info">
    After this request, the preceptor will give the Refuges and Precepts, starting with homage to the Triple Gem.<br>
    <br>
    Repeat after the preceptor:
  </div>
  <p>
    Namo tassa phakhavato arahato sammasamputthassa
  </p>
  <p><i>----- repeat this verse 3 times -----</i></p>
  <div class="alert alert-info">
    The preceptor will say: "Yamahang vatamitang vathehi"<br>
    The ordinand should respond: "Ama phante"<br>
    <br>
    The preceptor will then give the Refuges and Precepts.<br>
    <br>
    Repeat after the preceptor, verse by verse:
  </div>
  <ol>
    <li>
      Phutthang saranang khatchami,
      Thammang saranang khatchami,
      Sangkhang saranang khatchami
    </li>
    <li>
      Thutiyampi phutthang saranang khatchami,
      Thutiyampi thammang saranang khatchami
      Thutiyampi sangkhang saranang khatchami,
    </li>
    <li>
      Tatiyampi phutthang saranang khatchami,
      Tatiyampi thammang saranang khatchami,
      Tatiyampi sangkhang saranang khatchami.
    </li>
  </ol>
  <div class="alert alert-info">
    The preceptor will say: "Tisaranakhamanang nitthitang"<br>
    The ordinand should respond: "Ama phante"<br>
    <br>
    Now, ordinands become novices. They need to keep Ten Precepts. So novices will recite the Ten Precepts after the
    preceptor, verse by verse, as follows:
  </div>
  <ol>
    <li>Panatipata veramani sikkhapathang samathiyami</li>
    <li>Athinnathana veramani sikkhapathang samathiyami</li>
    <li>Aphramajariya veramani sikkhapathang samathiyami</li>
    <li>Musavatha veramani sikkhapathang samathiyami</li>
    <li>Surameraya matcha pamathatthana veramani sikkhapathang samathiyami</li>
    <li>Vikalaphochana veramani sikkhapathang samathiyami</li>
    <li>Natja khita vathita visukathassana veramani sikkhapathang samathiyami</li>
    <li>Mala khantha vilepana tharana mandana viphusanatthana veramani sikkhapathang samathiyami</li>
    <li>Utjasayana mahasayana veramani sikkhapathang samathiyami</li>
    <li>Chatarupa rachata patikkhahana veramani sikkhapathang samathiyami</li>
  </ol>
  <div class="alert alert-info">
    Then the preceptor will say 3 times: "Imani thasa sikkhapathani samathiyami"
  </div>
  <p><i>----- bow 3 times then stand -----</i></p>
  <p>
    Vanthami phante,<br>
    Sapphang aparathang khamatha me phante,<br>
    Maya katang punyang samina anumothitaphang,<br>
    Samina katang punyang maihang thatapphang,<br>
    Sathu sathu anumothami.
  </p>
  <p><i>----- kneel down and bow 3 times -----</i></p>

  <h2>Requesting Dependence (nissaya)</h2>
  <p>
    Ukasa vanthami phante,<br>
    Sapphang aparathang khamatha me phante,<br>
    Maya katang punyang samina anumothitaphang,<br>
    Samina katang punyang maihang thatapphang,<br>
    Sathu sathu anumothami.
  </p>
  <p>
    Ukasa ka-run-yang kattava,<br>
    Nissayang thetha me phante.
  </p>
  <p><i>----- kneel down -----</i></p>
  <p>
    Ahang phante, nissayang yajami.<br>
    Thutiyampi ahang phante, nissayang yajami.<br>
    Tatiyampi ahang phante, nissayang yajami.
  </p>
  <p>
    Upatchayo me phante hohi
  </p>
  <p><i>----- repeat 3 times -----</i></p>
  {% include table.html table=page.table_one %}
  <p>
    Atchatakkhethani thero, maihang pharo,
    ahampi therassa pharo.
  </p>
  <p><i>----- repeat 3 times -----</i></p>
  <p><i>----- bow 3 times then stand -----</i></p>
  <p>
    Vanthami phante,<br>
    Sapphang aparathang khamatha me phante,<br>
    Maya katang punyang samina anumothitaphang,<br>
    Samina katang punyang maihang thatapphang,<br>
    Sathu sathu anumothami.
  </p>
  <p><i>----- kneel down and bow 3 times -----</i></p>

  <h2>Scrutiny of the Bowl and Robes</h2>
  {% include table.html table=page.table_two %}
  <div class="alert alert-info">
    The Preceptor will then put the strap and bowl over the head of the novice and request him to retire to a point
    outside the assembly.
  </div>

  <h2>Examination Outside the Sangha</h2>
  <p>
    Kutthang? Natthi phante
    Khando? Natthi phante
    Kilaso? Natthi phante
    Soso? Natthi phante
    Apamaro? Natthi phante
    Manussosi? Ama phante
    Purisoso? Ama phante
    Phuchisosi? Ama phante
    Ananosi? Ama phante
    Nasirachaphato? Ama phante
    Anunyatosi matapituhi? Ama phante
    Paripunnavisativasosi? Ama phante
    Paripunnante-
    pattajivarang? Ama phante
    Kinnamosi? Ahang phante ___ nama.

    Ko nama te upatchayo? Upatchayo me phante
    ayasama Virojano
    nama.
  </p>

  <h2>Requesting Ordination (upasampada)</h2>
  <p>
    Sangkham phante,
    Upasampathang yajami,
    Ulumpatu mang phante sangkho,
    Anukampang upathaya.
    Thutiyampi phante sangkang,
    Upasampathang yajami,
    Ulumpatu mang phante sangkho,
    Anukampang upathaya.
    Tatiyampi phante sangkhang,
    Upasampathang yajami,
    Ulumpatu mang phante sangkho,
    Anukampang upathaya.
  </p>
  <p><i>----- bow 3 times -----</i></p>

  <h2>Seeking Parent’s Forgiveness Before Ordination</h2>
  <p>
    Ukasa,
    all of us assembled here,<br>
    on this day,<br>
    bowing in farewell,<br>
    to mother and father,<br>
    brothers and sisters,<br>
    and all amongst,<br>
    the Buddhist congregation here,<br>
    so that we may,<br>
    take ordination.<br>
    Throughout immeasurable lifetimes<br>
    that we have been born<br>
    and reborn<br>
    in this cycle of existence<br>
    if we have offended<br>
    against any of you<br>
    with or without your knowledge<br>
    intentionally<br>
    or without intention,<br>
    that we can recall<br>
    or that is without recall<br>
    throughout uncountable lifetimes<br>
    or in this present lifetime;<br>
    May all assembled here,<br>
    forgive us our trespasses,<br>
    that we may be pure<br>
    in ordination<br>
    and unblemished<br>
    in our holy life,<br>
    and in our pursuit<br>
    of Nibbana<br>
    in this lifetime.
  </p>
</div>
<div class="container">
  <h1 id="ordination-chanting-th">ภาษาไทย</h1>
  <h3>คำวันทาสีมาและคำวันทาพระประธาน</h3>
  <h3>คำขอบรรพชา</h3>
  <h3>มูลกัมมัฏฐาน</h3>
  <p>
    เกสา โลมา นะขา ทันตา ตะโจ<br>
    ตะโจ ทันตา นะขา โลมา เกสา
  </p>
  <h3>คำขอสรณคมน์และศีล</h3>
  <h3>คำขอนิสัย</h3>
  <h3>คำบอกบริขาร</h3>
  <h3>คำถามอันตรายิกธรรม</h3>
  <h3>คำขออุปสมบท</h3>
  <h3>คำขอขมา</h3>
</div>


