// Very basic column setup - same as bootstrap but only what is needed.
// See bootstrap docs on how to use

// Container provides consistent left and right padding
// Columns provide dynamic width columns based on width
// You can use columns by themselves outside of containers
// To use columns directly as child elements of containers you need a row to cancel out container padding

.container {
  @include make-container();

  @each $breakpoint, $max-width in $container-max-widths {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      max-width: $max-width;
    }
  }
}
.container-fluid {
  @include make-container();
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$gutter-width;
  margin-right: -$gutter-width;
}

// Make columns without breakpoints
// e.g. col-1 to col-12
@for $i from 1 through $columns {
  .col-#{$i} {
    @include make-col($i, $columns);
  }
}

// Make columns with breakpoints
// e.g. col-sm-1 to col-sm-12 e.t.c.
@each $name, $width in $breakpoints {

  // Makes the style apply to the given breakpoint and wider.
  @media (min-width: $width) {

    @for $i from 1 through $columns {
      .col-#{$name}-#{$i} {
        @include make-col($i, $columns);
      }
    }
  }
}