*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
}

th {
  // Matches default `<td>` alignment by inheriting from the `<body>`, or the closest parent with a set `text-align`.
  text-align: inherit;
}