h1, h2, h3,
.h1, .h2, .h3 {
  font-weight: $headings-font-weight;
}

h1, .h1 { font-size: 3rem; }
h2, .h2 { font-size: 1.5rem; }
h3, .h3 { font-size: 1.2rem; }

a:not(.btn):not(.nav-link) {
  color: $orange-900;

  &:hover {
    text-decoration: underline;
  }
}

.lead {
  font-size: 1.5rem;
  font-weight: 300;
}

.text-center {
  text-align: center
}