.w-100 {
  width: 100%;
}

.px {
  padding-left: $gutter-width;
  padding-right: $gutter-width;
}

// responsive display utilities
//
// Combination of d-none and d-block allows toggling
// visibility at breakpoints
// e.g.
// .d-none              - hidden all
// .d-none-sm           - hidden sm and above
// .d-none .d-block-sm  - displayed sm above

.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

@each $name, $width in $breakpoints {

  // Makes the style apply to the given breakpoint and wider.
  @media (min-width: $width) {
    .d-none-#{$name} {
      display: none !important;
    }
  }
}

@each $name, $width in $breakpoints {

  // Makes the style apply to the given breakpoint and wider.
  @media (min-width: $width) {
    .d-block-#{$name} {
      display: block !important;
    }
  }
}